* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.todo {
    min-height: 100vh;
    background: #2A7B9B;
    background: radial-gradient(circle,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 36%, rgba(237, 221, 83, 1) 100%);
    font-family: sans-serif;
    padding: 20px;
}

.todo__box {
    max-width: 600px;
    border-radius: 10px;
    background-color: #fff;
    padding: 40px 30px 70px;
    margin: 100px auto 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}

.todo__title {
    font-weight: 300;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.todo__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 30px;
    padding-left: 10px;
}

.todo__input {
    background-color: transparent;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
}

.btn {
    border: none;
    outline: none;
    padding: 16px 30px;
    background-color: #419b6b;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    color: #fff;
}

.todo__filters {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn-filters {
    padding: 8px 20px;
    background-color: #8fd2a8;
}

.todo__list {
    list-style: none;
}

.todo__list li{
    cursor: pointer;
    font-size: 18px;
    padding: 12px 10px 12px 50px;
    position: relative;
}

.todo__list li::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #111111;
    top: 12px;
    left: 10px;
}

.todo__list li.checked {
    color: #555;
    text-decoration: line-through;
}

.todo__list li.checked::before {
    border-color: #03793b;
    background-color: #03793b;
}

.todo__list li.checked::after {
    content: '\2714';
    position: absolute;
    top: 11px;
    left: 14px;
    color: #ffffff;
}

.todo__list li span {
    position: absolute;
    top: 5px;
    right: 0;
    width: 40px;
    height: 40px;
    font-size: 22px;
    border-radius: 50%;
    color: #555555;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo__list li span:hover {
    background-color: #f1f1f1;
}

.todo__list li div {
    position: absolute;
    top: 3px;
    right: 46px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    border-radius: 50%;
    color: #555555;
    display: flex;
    justify-content: center;
    align-items: center;
}


.todo__list li div:hover {
    background-color: #f1f1f1;
}

.remind {
    background-color: #f1f1f1;
}

.pick {
    background-color: #419b6b;
}

.hidden {
    display: none !important;
}

